<tr id="cliente-{{cliente.id}}">
    <th scope="row">{{ cliente.id }}</th>
    <td>{{ cliente.nome }}</td>
    <td>{{ cliente.email }}</td>
    <td>

        <button class="btn btn-secondary" 
        c-target="#exibir-cliente" 
        c-get="{{url_for('cliente.detalhe_cliente', cliente_id=cliente.id)}}" 
        data-bs-toggle="modal" 
        data-bs-target="#exampleModal">
            Ver
        </button>
        <button class="btn btn-primary" 
        c-target="#form-cliente" 
        c-get="{{url_for('cliente.form_edit_cliente', cliente_id=cliente.id)}}">
            Editar
        </button>

        <button class="btn btn-danger" 
        c-delete="{{url_for('cliente.deletar_cliente', cliente_id=cliente.id)}}" 
        c-remove-closest="tr">
            Deletar
        </button>
        
    </td>
  </tr>